https://youtu.be/M9cpG23yk6s
https://youtu.be/M9cpG23yk6s bu projemde java ile ekrana yazı yazdırma, 1'den 10'a kadar ekrana sayı yazdırma, for döngüsü, while döngüsü,
toplama işlemi, çarpma işlemi, faktoriyel işlemi, 1'den 10'a kadar olan sayılardan çift olanları yazdırma, 1'den 10'a kadar sayılardan tek olanları
yazdırma programlarını yazdım.
